@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,700&display=swap');

:root{
    --font-normal: Arial, Helvetica, sans-serif;
    --font-titulo: 'Be Vietnam Pro', sans-serif;
    --font-escrita: 'Kalam', cursive;
}

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    background-color: grey;
}

header{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

header h1{
    font-variant: small-caps;
    font-family: var(--font-titulo);
    font-size: 8vh;
}

header > p{
    font-family: var(--font-normal);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4vh;
    font-family: var(--font-escrita);
    font-weight: bold;
}

section.normal{
    background-color: white;
}

section.normal > p{
    padding-bottom: 2em;
}

section.imagem{
    background-color: rgb(85, 85, 85);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.795);
}

section.imagem > p{
    background-color: rgba(65, 61, 61, 0.548);
    padding: 8px;
    display: inline-block;
    text-shadow: 2px 2px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}

footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: var(--font-normal);
}