@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0C3D6B, #1B86EB, #62AAEE, #1469B8);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #062038;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #062038;
    text-align: center;
    text-shadow: 4px 4px 8px #0c3d6b75;
}

h2{
    color: #1469B8;
    text-shadow: 1px 1px 3px #135da8;
}

p{
    text-align: justify;
}